<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Living Rent{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body style="background-color: #ffffff">
    <div class="navbar">
        <button id="menu-icon" class="menu-icon">
            <i class="fas fa-bars"></i>
        </button>
        <div class="logo-container">
            <img src="{% static 'images/logo.webp' %}" alt="Company Logo" class="logo">
            <span class="company-name">Prime<br>Property</span>
        </div>
        <div id="sidebar" class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'contact' %}">About us</a></li>
                <li><a href="{% url 'parcel_list' %}">Plots</a></li>
                <li><a href="{% url 'cars_for_rent' %}">Cars for Rent</a></li>
                <li><a href="{% url 'cars_for_sale' %}">Cars for Sale</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Apartments & Offices
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'apartment_list' %}">Apartments</a>
                        <a class="dropdown-item" href="{% url 'office_list' %}">Offices</a>
                    </div>
                </li>
                {% if request.user.is_staff %}
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                {% endif %}
            </ul>
        </div>
        <nav class="horizontal-scroll">
            <ul>
                <li>
                    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
                <li>
                    <a href="{% url 'notifications' %}" id="notification-icon">
                        <i class="fas fa-bell"></i>
                        {% if unread_notifications_count > 0 %}
                            <span class="badge">{{ unread_notifications_count }}</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    
    <div>
        {% block content %}{% endblock %}
    </div>
    <row>
        <a href="https://wa.me/250784107365" class="whatsapp-button" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
    </row>
        <div class="footer">
            <div class="socialmedia">
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook social-icon facebook-icon"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter social-icon twitter-icon"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram social-icon instagram-icon"></i></a>
                <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin social-icon linkedin-icon"></i></a>
            </div>
            <div class="information"><p>For more information, call us at: +250784107365</p>
                <p>© 2024 Living Rent. All rights reserved.</p>
            </div>
            <div class="translation">
                <div id="google_translate_element"></div>
                <button id="translate-button" class="btn btn-secondary custom-height">Translate to Kinyarwanda</button>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const text = "Welcome to Prime Property, find the perfect house, plot, car, or apartment to buy or rent within your budget";
            let i = 0;
            const speed = 60; // Speed of typing
            
            function typeWriter() {
                if (i < text.length) {
                    document.getElementById("typing-text").innerHTML += text.charAt(i);
                    i++;
                    setTimeout(typeWriter, speed);
                }
            }
            document.getElementById("typing-text").innerHTML = "";
            typeWriter();
        });

        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,rw'}, 'google_translate_element');
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const translateButton = document.getElementById('translate-button');

            translateButton.addEventListener('click', function() {
                const googleTranslateElement = document.querySelector('.goog-te-combo');
                if (googleTranslateElement) {
                    googleTranslateElement.value = 'rw';
                    googleTranslateElement.dispatchEvent(new Event('change'));
                }
            });
        });
    </script>
<!-- Include jQuery (if not already included) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function() {
    var originalParent;

    // Hide any visible dropdown menus on page load
    $('.dropdown-menu').hide();

    $('.dropdown-toggle').on('click', function(e) {
        e.preventDefault();
        var $dropdownMenu = $(this).next('.dropdown-menu');
        if ($dropdownMenu.is(':visible')) {
            $dropdownMenu.hide().appendTo(originalParent);
        } else {
            $('.dropdown-menu').hide().each(function() {
                $(this).appendTo(originalParent);
            }); // Hide any open dropdowns and reattach them to their original parent
            originalParent = $dropdownMenu.parent();
            $dropdownMenu.css({
                position: 'absolute',
                top: $(this).offset().top + $(this).outerHeight(),
                left: $(this).offset().left,
                display: 'block'
            }).appendTo('body');
        }
    });

    // Hide dropdown menu when clicking outside
    $(document).on('click', function(e) {
        if (!$(e.target).closest('.dropdown').length) {
            $('.dropdown-menu').hide().each(function() {
                $(this).appendTo(originalParent);
            });
        }
    });
});

document.getElementById('menu-icon').addEventListener('click', function() {
    document.getElementById('sidebar').classList.toggle('open');
});

document.addEventListener('click', function(event) {
    var sidebar = document.getElementById('sidebar');
    var menuIcon = document.getElementById('menu-icon');
    if (!sidebar.contains(event.target) && !menuIcon.contains(event.target)) {
        sidebar.classList.remove('open');
    }
});
</script>
</body>
</html>