{% extends 'house_renting/base.html' %}
{% load static %}
{% block title %}Parcel Detail{% endblock %}
{% block content %}
<div class="parcel-card">
    <h2>{{ parcel.address }}</h2>
    <img src="{{ parcel.main_image.url }}" alt="Main parcel image">
    <p>ubuso: {{ parcel.size }}km²</p>
    <p>giherereye: {{ parcel.location }}</p>
    <p>{{ parcel.description }}</p>
    <p>igiciro: RWF {{ parcel.price }}</p>

    <div class="additional-images mt-4">
        <h3>Andi mafoto</h3>
        <div class="row">
            {% for image in images %}
                <div class="col-md-4">
                    <img src="{{ image.image.url }}" alt="Additional parcel image" class="img-fluid mb-3 zoom uniform-image">
                </div>
            {% endfor %}
        </div>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="form-and-video-container">
        <div class="apply-form narrow-form">
            <h3>Saba ikibanza</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="apply-button">ohereza</button>
            </form>
        </div>
        {% if parcel.video %}
        <div class="video-container">
            <h3>Video</h3>
            <video controls>
                <source src="{{ parcel.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        {% endif %}
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const images = document.querySelectorAll('.additional-images img');

    images.forEach(image => {
        image.addEventListener('click', function() {
            this.classList.toggle('zoomed');
        });
    });
});
</script>
{% endblock %}